<!--传统手艺不能丢-->
<script>var bug = 0;</script>
<div style="text-align: center;margin-top: 10%;">
<%= theme.footer%>
<a href="https://icp.gov.moe/?keyword=20240283" target="_blank">萌ICP备20240283号</a>
<a target="_blank" href="https://beian.miit.cn.com/gov/search.php?query=" title="MIIT备20241055号">MIIT备20241055号</a>
<a style="text-decoration:none;color:#1772b4;" href="https://travel.moe/go.html?travel=on" title="异次元之旅-跃迁-我们一起去萌站成员的星球旅行吧！" target="_blank"><img src="https://travel.moe/images/icon/icon64orange.png" style="width:24px;height:24px">异次元之旅</a>
</div>
